.profile-photo{
    max-width: 72px;
    min-height: 72px;
    border-radius: 50%;
    border: 2px solid #ffffff;
    margin: -30px 0 0 -8px;
}

.detail{
    font-size: 12px;
    
}
.columna-tweets{
    padding: 5px;
}