<div class="input-group input-group-sm mb-2 mt-3">
  <img class="mr-1 imagen-tweet" src="https://abs.twimg.com/sticky/default_profile_images/default_profile_normal.png" />
  <input type="text" class="form-control" aria-label="whats happening" aria-describedby="inputGroup-sizing-sm" placeholder="What's happening?">
</div>
<div class="row float-right mr-1">
  <button class="round">Tweet</button>
</div>
<div class="row mt-5">
  <div class="col-12">
    <div class="row">
      <div class="col-1">
        <img class="imagen-tweet-list" src="https://pbs.twimg.com/profile_images/859612982506135556/8nzopuMN_bigger.jpg" />
      </div>
      <div class="col-11 pl-4">
        <a class="font-weight-bold">Lorem ipsum</a>
        <p>Lorem ipsum dolor asimer quem minimu postreo asin quinamera</p>
      </div>
    </div>
  </div>
</div>